<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="output" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/output.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>	
	
	<appender name="service" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/service.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>	
	
	<appender name="streamer" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/streamer.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="parser" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/parser.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="input" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/input.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="springbatch" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/springbatch.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="error" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/error.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="processor" class="org.apache.log4j.FileAppender">
		<param name="file" value="log/processor.log"/>		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
	
	<logger name="be.raildelays.batch.Bootstrap">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="be.raildelays.batch.reader">
		<level value="debug" />
		<appender-ref ref="input" />
	</logger>
	<logger name="be.raildelays.httpclient">
		<level value="debug" />
		<appender-ref ref="streamer" />
	</logger>	
	<logger name="be.raildelays.parser">
		<level value="debug" />
		<appender-ref ref="parser" />
	</logger>	
	<logger name="be.raildelays.batch.processor.FilterTwoDelaysPerDayProcessor">
		<level value="trace" />
		<appender-ref ref="processor" />
	</logger>
	<logger name="org.springframework.batch.item.file.FlatFileItemWriter">
		<level value="debug" />
		<appender-ref ref="output" />
	</logger>
	<logger name="be.raildelays.batch.writer">
		<level value="debug" />
		<appender-ref ref="output" />
	</logger>
	<logger name="be.raildelays.service">
		<level value="debug" />
		<appender-ref ref="service" />
	</logger>

<!-- 	<logger name="org.springframework"> -->
<!-- 		<level value="error" /> -->
<!-- 		<appender-ref ref="error" /> -->
<!-- 	</logger> -->
	
	<logger name="org.springframework.batch">
		<level value="trace" />
		<appender-ref ref="springbatch" />
	</logger>
	
<!-- 	<logger name="org.springframework.transaction"> -->
<!-- 		<level value="error" /> -->
<!-- 		<appender-ref ref="error" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.hsqldb"> -->
<!-- 		<level value="error" /> -->
<!-- 		<appender-ref ref="error" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.hibernate"> -->
<!-- 		<level value="error" /> -->
<!-- 		<appender-ref ref="error" /> -->
<!-- 	</logger> -->

	<root>
		<level value="error" />
		<appender-ref ref="error" />
	</root>

</log4j:configuration>